* {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

button {
    background-color: #FF0000;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin: 50px auto 0;
}

button:hover {
    background-color: #8e6f3e;
}

/* Paragraph styles */
p {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 15px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

input[type=number], select {
    width: 10%;
    padding: 12px 20px;
    margin: 12px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

input[type=submit] {
    background-color: #d80101;
    color: white;
    margin: 15px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #a04574;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    
}

span {
    display: block;
    margin-bottom: 10px;
}


.navbar {
    overflow: hidden;
    background-color: rgb(0, 139, 46);
    font-family: Arial;
}


.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}


.navbar a:hover {
    background-color: #dddddd;
    color: black;
}