* {
    margin: 0;
    padding: 0;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin: 50px auto 0;
}

button:hover {
    background-color: #3e8e41;
}

/* Paragraph styles */
p {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

input[type=number], select {
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

span {
    display: block;
    margin-bottom: 10px;
}

.navbar {
    overflow: hidden;
    background-color: darkblue;
    font-family: Arial;
}


.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}


.navbar a:hover {
    background-color: #ddd;
    color: black;
}

#myTable {
border-collapse: collapse;
width: 100%;
max-width: 600px;
margin: 0 auto;
}

#myTable th,
#myTable td {
border: 3px solid black;
padding: 8px;
text-align: center;
}

#myTable th {
background-color: lightblue;
font-weight: bold;
}